@media only screen and (max-width: 767px) {
	header {
		.container {
			min-width: 100%;
		}
	}
	.pricing-2-col {
		.pricing-box {
			width: 100%;
		}
	}
	.pricing-3-col {
		.pricing-box {
			width: 100%;
		}
	}
	.pricing-4-col {
		.pricing-box {
			width: 100%;
		}
	}
	.pricing-5-col {
		.pricing-box {
			width: 100%;
		}
	}
	.container-4 {
		.de-team-list {
			width: 100%;
			float: left;
			position: relative;
		}
	}
	.countdown-section {
		font-size: 12px;
	}
	.countdown-amount {
		font-size: 36px;
	}
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
	.feature-box-image {
		margin-bottom: 30px;
	}
	.pricing-box {
		margin-bottom: 30px;
	}
	#filters {
		li.pull-right {
			float: none;
		}
	}
	.de_tab {
		.de_nav {
			li {
				display: block;
				width: 100%;
			}
		}
	}
	.pf_full_width {
		.item {
			float: left;
			width: 49.9%;
		}
	}
	.text-item {
		font-size: 48px;
		line-height: 48px;
		i {
			font-size: 36px;
		}
	}
	#de-sidebar {
		width: 100%;
		display: block;
		position: relative;
	}
	.gallery_border {
		margin-left: 0px;
	}
	.pf_full_width.gallery_border {
		.item {
			width: 48.9%;
		}
	}
	body.boxed {
		margin: 0px;
	}
	.schedule-item {
		.sc-time {
			width: 100%;
			padding-bottom: 20px;
			float: none;
		}
		.sc-pic {
			width: 80px;
			img {
				width: 60px;
			}
		}
		.sc-name {
			padding-top: 5px;
		}
		.sc-info {
			float: none;
			display: block;
			width: 100%;
			clear: both;
			padding-top: 30px;
			h4 {
				margin-bottom: 10px;
			}
		}
	}
	.de_tab.tab_style_4 {
		.de_nav {
			border-radius: 0;
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
			li {
				min-width: 33.3%;
				width: 33.3%;
				border: none;
				&:first-child {
					border-radius: 0;
					-moz-border-radius: 0;
					-webkit-border-radius: 0;
				}
				&:last-child {
					border-radius: 0;
					-moz-border-radius: 0;
					-webkit-border-radius: 0;
				}
			}
		}
	}
	.pf_full_width.grid {
		margin-left: .2%;
		.item {
			width: 48.5%;
		}
	}
	.display-table {
		[class*="col-"] {
			display: block;
		}
	}
	h1.big {
		font-size: 8vw;
		line-height: 10vw;
	}
	h1_big {
		font-size: 8vw;
		line-height: 10vw;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
	.feature-box-image {
		margin-bottom: 30px;
	}
	.pricing-box {
		margin-bottom: 30px;
	}
	header {
		div#logo {
			img {
				max-width: 200px;
				height: auto;
			}
		}
	}
	.timeline-panel {
		margin-bottom: 30px;
	}
	.timeline-pic {
		height: 300px;
	}
}
@media only screen and (max-width: 480px) {
	.pf_full_width {
		.item {
			float: left;
			width: 100%;
		}
	}
	.text-item {
		font-size: 32px;
		line-height: 32px;
		i {
			font-size: 24px;
		}
	}
	header {
		div#logo {
			img {
				max-width: 200px;
				height: auto;
			}
		}
	}
	.pf_full_width.gallery_border {
		.item {
			width: 100%;
		}
	}
	h4.s2 {
		span {
			display: block;
			margin: 0;
			padding: 0;
		}
	}
}
@media only screen and (min-device-width: 768) and (max-device-width: 1024) and (orientation: portrait) {
	section {
		-webkit-background-size: auto 100%;
		-moz-background-size: auto 100%;
		-o-background-size: auto 100%;
		background-size: auto 100%;
		background-attachment: scroll;
	}
}
